@tailwind base;
@tailwind components;
@tailwind utilities;


.active-Link {
    border-bottom: 2px solid #d09423;
}

.header-bg {
    background: linear-gradient(to bottom, #264d51, #3b6165);
}

.swiper-pagination-bullet {
    padding: 7px !important;

}

.swiper-pagination-bullet-active {
    padding: 7px !important;
    width: 55px !important;
    border-radius: 10px !important;
    background-color: #2d5356 !important;
}

.swiper-button-lock,
.swiper-pagination-lock {
    display: inline !important;
}
